<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <connectionStrings>
    <add name="LahmanEntities" connectionString="metadata=res://*/LahmanModel.csdl|res://*/LahmanModel.ssdl|res://*/LahmanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=Lahman;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.SfGridCommon.WPF" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2451.0.40" newVersion="15.2451.0.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.SfCellGrid.WPF" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2451.0.40" newVersion="15.2451.0.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Compression.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2451.0.40" newVersion="15.2451.0.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.XlsIO.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2451.0.40" newVersion="15.2451.0.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2451.0.40" newVersion="15.2451.0.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Tools.Wpf" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2451.0.40" newVersion="15.2451.0.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Data.WPF" publicKeyToken="3d67ed1f87d44c89" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.2451.0.40" newVersion="15.2451.0.40"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
